<div class="page-header">
  <h1>{{ task.name || "Loading" }}</h1>
</div>

<!-- Loading div -->
<div data-ng-show="!task">Loading</div>

<!-- Main content -->
<div class="container-fluid" data-ng-show="task">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-list">
        <li class="nav-header">Task Hierarchy</li>
        <li data-ng-repeat="parent in hierarchy" data-ng-class="{ active: $last }"><a data-ng-click="up($index)">{{ parent.name }}</a>
      </ul>
    </div>

    <div class="span10">
      <!-- Meta row -->
      <div class="row">
        <!-- Combined totals, if there are children -->
        <div class="span2" data-ng-show="task.children && task.children.length">
          <p class="muted">Total: </p>
          <p>{{ showTotals(task) }}</p>
        </div>

        <div class="span2">
          <p class="muted" data-ng-show="task.children && task.children.length">This:</p>
          <p>{{ showMine(task) }}</p>
        </div>

        <div class="span3">
          Actions here
        </div>
      </div>

      <div class="row" data-ng-show="task.children && task.children.length">
        <h3>Subtasks</h3>
        <div class="row" data-ng-repeat="child in task.children | subtaskSort">
          <div class="span4"><a data-ng-click="showChild($index)"><strong>{{child.name}}</strong></a></div>
          <div class="span1">
            <p data-ng-show="child.children && child.children.length">{{ showTotals(child) }}</p>
          </div>
          <div class="span1">
            <p>{{ showMine(child) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
